Arduino IDE/
BambuStudio/
BraveSoftware/
Electron/
MongoDB\ Compass/
Moonlight Game Streaming Project/Moonlight.conf
VSCodium/
arduino-ide/
aseprite/
discord/
go/
obsidian/
syncthing/
via-nativia/

*.log
