/*
*.log

!.bashrc
!.gitignore
!README.md
!Vencord
!activitywatch
!ags
!bin
!btop
!fish
!gh
!git
!godot
!hypr
!inkscape
!jj
!kanata
!kitty
!neovide
!nixos
!nushell
!nvchad
!nvim
!ohmyposh
!pi
!powershell
!qalculate
!rofi
!udiskie
!zsh
