:root {
  --font-primary: "JetBrainsMono Nerd Font";
  --font-display: "JetBrainsMono Nerd Font";
  --font-headline: "JetBrainsMono Nerd Font";
  --font-code: "JetBrainsMono Nerd Font";
}

::placeholder,
body,
button,
input,
select,
textarea {
  font-family: var(--font-display) !important;
}

/* Disable donate bar */
.vc-special-card {
  display: none;
}

/* Disable event popups */
[aria-label="User status and settings"] > [class^="mask"] {
  display: none;
}

/* Disable menu items I don't need */
[aria-label="Direct Messages"]
  li:is(
    [aria-posinset="2"],
    [aria-posinset="4"],
    [aria-posinset="5"],
    [aria-posinset="6"],
    :has([href="/quest-home"]),
    :has([href="/shop"]),
    :has([href="/store"])
  ) {
  display: none;
}
